@import url("about.css");
@import url("accessibilty.css");
@import url("color-blind.css");
@import url("cta.css");
@import url("dark-mode.css");
@import url("fonts.css");
@import url("footer.css");
@import url("header.css");
@import url("hero.css");
@import url("high-contrast.css");
@import url("product.css");
@import url("responsive.css");
@import url("variables.css");


/* ==================== BASE STYLES ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  overflow-x: hidden;
  background: var(--white);
  color: var(--black);
  line-height: 1.6;
}